# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Sapphire Mason-Brown
	email = saphmb@gmail.com
[user]
	# name = saphmb
	# email = saphmb@gmail.com
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[alias]
	st = status
  dci = duet-commit
